In [1]:
import duckdb

In [2]:
with duckdb.connect("data/staging.db", read_only=True) as conn:

    conn.sql("SELECT * FROM shipments").show()

┌─────────────┬──────────┬────────────┬────────────┬─────────────────┬─────────────────┬──────────────┬────────────────────────┬──────────────────────┬───────────────┬─────────┬───────────────┬───────────────┬───────────────────┬────────────────┐
│ shipment_id │ order_id │ carrier_id │ service_id │ tracking_number │ shipping_status │ shipped_date │ expected_delivery_date │ actual_delivery_date │ shipping_cost │   op    │ emitted_ts_ms │     ts_ms     │ connector_version │ transaction_id │
│    int32    │  int32   │   int32    │   int32    │     varchar     │     varchar     │     date     │          date          │         date         │ decimal(10,2) │ varchar │     int64     │     int64     │      varchar      │    varchar     │
├─────────────┼──────────┼────────────┼────────────┼─────────────────┼─────────────────┼──────────────┼────────────────────────┼──────────────────────┼───────────────┼─────────┼───────────────┼───────────────┼───────────────────┼────────────────┤
│           1 │      101 │          1 │          1 │ 1234FEDX        │ created         │ 2025-05-01   │ 2025-05-06             │ NULL                 │         12.99 │ c       │ 1746932292197 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           2 │      102 │          2 │          2 │ 5678UPS         │ in_transit      │ 2025-05-02   │ 2025-05-03             │ NULL                 │         24.99 │ c       │ 1746932292198 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           3 │      103 │          3 │          5 │ 9101DHL         │ delivered       │ 2025-05-03   │ 2025-05-10             │ NULL                 │         15.99 │ c       │ 1746932292198 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           3 │      103 │          3 │          5 │ 9101DHL         │ delivered       │ 2025-05-03   │ 2025-05-10             │ 2025-05-03           │         15.99 │ u       │ 1746932292214 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           1 │      101 │          1 │          1 │ 4321FEDX        │ created         │ 2025-05-01   │ 2025-05-06             │ NULL                 │         12.99 │ u       │ 1746932292216 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           2 │      102 │          2 │          2 │ 5678UPS         │ in_transit      │ 2025-05-02   │ 2025-05-03             │ NULL                 │         27.99 │ u       │ 1746932292220 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           1 │      101 │          1 │          1 │ 4321FEDX        │ delivered       │ 2025-05-01   │ 2025-05-06             │ 2025-05-11           │         12.99 │ u       │ 1746932292247 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           2 │      102 │          2 │          2 │ 5678UPS         │ delivered       │ 2025-05-02   │ 2025-05-03             │ 2025-05-11           │         27.99 │ u       │ 1746932292247 │ 1746932292000 │ 2.7.3.Final       │ NULL           │
│           4 │        7 │          1 │          2 │ TRK7379100      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746936603876 │ 1746936603000 │ 2.7.3.Final       │ NULL           │
│           5 │        8 │          3 │          5 │ TRK7679561      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746936606955 │ 1746936606000 │ 2.7.3.Final       │ NULL           │
│           · │        · │          · │          · │     ·           │    ·            │     ·        │  ·                     │  ·                   │            ·  │ ·       │       ·       │       ·       │      ·            │  ·             │
│           · │        · │          · │          · │     ·           │    ·            │     ·        │  ·                     │  ·                   │            ·  │ ·       │       ·       │       ·       │      ·            │  ·             │
│           · │        · │          · │          · │     ·           │    ·            │     ·        │  ·                     │  ·                   │            ·  │ ·       │       ·       │       ·       │      ·            │  ·             │
│         217 │      220 │          1 │          1 │ TRK5623052      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937760929 │ 1746937760000 │ 2.7.3.Final       │ NULL           │
│         218 │      221 │          1 │          2 │ TRK8035271      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937761108 │ 1746937761000 │ 2.7.3.Final       │ NULL           │
│         219 │      222 │          1 │          1 │ TRK5711905      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937761733 │ 1746937761000 │ 2.7.3.Final       │ NULL           │
│         220 │      223 │          2 │          4 │ TRK6303652      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937762285 │ 1746937762000 │ 2.7.3.Final       │ NULL           │
│         221 │      224 │          2 │          4 │ TRK4792491      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937762455 │ 1746937762000 │ 2.7.3.Final       │ NULL           │
│         222 │      225 │          3 │          5 │ TRK9395452      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937762670 │ 1746937762000 │ 2.7.3.Final       │ NULL           │
│         223 │      226 │          1 │          2 │ TRK7040346      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937762885 │ 1746937762000 │ 2.7.3.Final       │ NULL           │
│         224 │      227 │          2 │          4 │ TRK5150804      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937763052 │ 1746937763000 │ 2.7.3.Final       │ NULL           │
│         225 │      228 │          3 │          5 │ TRK8161775      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937763477 │ 1746937763000 │ 2.7.3.Final       │ NULL           │
│         226 │      229 │          3 │          5 │ TRK3330880      │ created         │ 2025-05-11   │ NULL                   │ NULL                 │          NULL │ c       │ 1746937763681 │ 1746937763000 │ 2.7.3.Final       │ NULL           │
├─────────────┴──────────┴────────────┴────────────┴─────────────────┴─────────────────┴──────────────┴────────────────────────┴──────────────────────┴───────────────┴─────────┴───────────────┴───────────────┴───────────────────┴────────────────┤
│ 231 rows (20 shown)                                                                                                                                                                                                                     15 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [3]:
with duckdb.connect("data/staging.db", read_only=True) as conn:

    conn.sql("SELECT * FROM order_items").show()

┌───────────────┬──────────┬─────────┬──────────┬───────────────────┬──────────┬─────────┬───────────────┬───────────────┬───────────────────┬────────────────┬──────────┐
│ order_item_id │ order_id │ book_id │ quantity │ price_at_purchase │ discount │   op    │ emitted_ts_ms │     ts_ms     │ connector_version │ transaction_id │   lsn    │
│     int32     │  int32   │  int32  │  int32   │      double       │  double  │ varchar │     int64     │     int64     │      varchar      │    varchar     │  int64   │
├───────────────┼──────────┼─────────┼──────────┼───────────────────┼──────────┼─────────┼───────────────┼───────────────┼───────────────────┼────────────────┼──────────┤
│             1 │        1 │       1 │        1 │              8.99 │      0.0 │ c       │ 1746934319338 │ 1746934318997 │ 2.7.3.Final       │ 747            │ 24464600 │
│             2 │        1 │       2 │        2 │              9.99 │      1.0 │ c       │ 1746934319338 │ 1746934318997 │ 2.7.3.Final       │ 747            │ 24465024 │
│             3 │        2 │       3 │        1 │              12.5 │      0.0 │ c       │ 1746934319338 │ 1746934318997 │ 2.7.3.Final       │ 747            │ 24465264 │
│             4 │        3 │       4 │        1 │             10.99 │      0.0 │ c       │ 1746934319341 │ 1746934319028 │ 2.7.3.Final       │ 748            │ 24468456 │
│             5 │        3 │       5 │        1 │              11.5 │      0.5 │ c       │ 1746934319342 │ 1746934319028 │ 2.7.3.Final       │ 748            │ 24468688 │
│             6 │        4 │       6 │        2 │               7.5 │      0.0 │ c       │ 1746934319342 │ 1746934319028 │ 2.7.3.Final       │ 748            │ 24468944 │
│             4 │        3 │       4 │        1 │             10.99 │      0.0 │ d       │ 1746934319344 │ 1746934319052 │ 2.7.3.Final       │ 756            │ 24472288 │
│             5 │        3 │       5 │        1 │              11.5 │      0.5 │ d       │ 1746934319344 │ 1746934319052 │ 2.7.3.Final       │ 756            │ 24472400 │
│             8 │        4 │       4 │        1 │              16.0 │      0.5 │ c       │ 1746934319345 │ 1746934319064 │ 2.7.3.Final       │ 760            │ 24473880 │
│             8 │        4 │       4 │        1 │              16.0 │      0.5 │ d       │ 1746936603324 │ 1746936603288 │ 2.7.3.Final       │ 761            │ 24474552 │
│             · │        · │       · │        · │                ·  │       ·  │ ·       │       ·       │       ·       │      ·            │  ·             │     ·    │
│             · │        · │       · │        · │                ·  │       ·  │ ·       │       ·       │       ·       │      ·            │  ·             │     ·    │
│             · │        · │       · │        · │                ·  │       ·  │ ·       │       ·       │       ·       │      ·            │  ·             │     ·    │
│           158 │      156 │       2 │        1 │              9.99 │      0.0 │ d       │ 1746937761406 │ 1746937761312 │ 2.7.3.Final       │ 1132           │ 24720624 │
│           224 │      222 │       1 │        2 │              8.99 │      0.0 │ c       │ 1746937761912 │ 1746937761727 │ 2.7.3.Final       │ 1134           │ 24721160 │
│           225 │      223 │       4 │        2 │             10.99 │      0.0 │ c       │ 1746937762418 │ 1746937762280 │ 2.7.3.Final       │ 1137           │ 24722424 │
│           226 │      224 │       3 │        1 │              14.0 │      0.0 │ c       │ 1746937762924 │ 1746937762451 │ 2.7.3.Final       │ 1138           │ 24723072 │
│           227 │      225 │       6 │        1 │               7.5 │      0.0 │ c       │ 1746937762925 │ 1746937762665 │ 2.7.3.Final       │ 1139           │ 24723672 │
│           228 │      226 │       1 │        1 │              8.99 │      0.0 │ c       │ 1746937762925 │ 1746937762880 │ 2.7.3.Final       │ 1140           │ 24724256 │
│           229 │      227 │       2 │        1 │              9.99 │      0.0 │ c       │ 1746937763430 │ 1746937763047 │ 2.7.3.Final       │ 1141           │ 24724840 │
│           230 │      228 │       4 │        3 │             10.99 │      0.0 │ c       │ 1746937763936 │ 1746937763473 │ 2.7.3.Final       │ 1143           │ 24725616 │
│           231 │      229 │       6 │        3 │               7.5 │      0.0 │ c       │ 1746937763937 │ 1746937763676 │ 2.7.3.Final       │ 1144           │ 24726264 │
│           122 │      120 │       4 │        1 │             10.99 │      0.0 │ d       │ 1746937763937 │ 1746937763902 │ 2.7.3.Final       │ 1145           │ 24726696 │
├───────────────┴──────────┴─────────┴──────────┴───────────────────┴──────────┴─────────┴───────────────┴───────────────┴───────────────────┴────────────────┴──────────┤
│ 286 rows (20 shown)                                                                                                                                         12 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
with duckdb.connect("data/staging.db") as conn:

    conn.sql("DROP TABLE d_books")
    conn.sql("DROP TABLE d_carrier_services")
    conn.sql("DROP TABLE d_customers")
    conn.sql("DROP TABLE d_orders")
    conn.sql("DROP TABLE d_shipments")
    conn.sql("DROP TABLE f_book_inventory")
    conn.sql("DROP TABLE f_order_item_events")
    #conn.sql("DROP TABLE f_shipment_events")

In [45]:
conn.close()

In [51]:
import duckdb
import os

# === CONFIGURATION ===
SQL_FOLDER = "modeling/ctas"          # Folder containing .sql files
DUCKDB_FILE = "data/staging.db"       # DuckDB database file path

# === Connect to DuckDB ===
con = duckdb.connect(database=DUCKDB_FILE)

# === Get all .sql files ===
sql_files = sorted(
    [f for f in os.listdir(SQL_FOLDER) if f.endswith(".sql")]
)

# === Execute each SQL file ===
for sql_file in sql_files:
    path = os.path.join(SQL_FOLDER, sql_file)
    with open(path, "r") as file:
        sql = file.read()
        print(f"\n▶ Running: {sql_file}")
        try:
            result = con.execute(sql)
            # Optionally fetch results if the query returns rows
            if result.description:  # Check if there's a result set
                rows = result.fetchall()
                for row in rows:
                    print(row)
        except Exception as e:
            print(f"❌ Error in {sql_file}: {e}")

con.close()
print("\n✅ All queries executed.")

▶ Running: d_books.sql

▶ Running: d_carriers_services.sql

▶ Running: d_customers.sql

▶ Running: d_date.sql

▶ Running: d_orders.sql

▶ Running: d_shipments.sql

▶ Running: f_book_inventory.sql

▶ Running: f_order_item_events.sql
(4,)

▶ Running: f_shipment_events.sql

✅ All queries executed.

In [54]:
with duckdb.connect("data/staging.db", read_only=True) as conn:
    conn.sql("SELECT * FROM f_order_item_events").show()

┌──────────────────────────────────────┬──────────────────────────────────────┬─────────────┬──────────────────────────────────────┬─────────┬──────────────────────────────────┬──────────┬───────────────────┬──────────┐
│         order_item_event_sk          │               order_sk               │ customer_id │               book_sk                │   op    │ to_timestamp((src.ts_ms / 1000)) │ quantity │ price_at_purchase │ discount │
│                 uuid                 │                 uuid                 │    int32    │                 uuid                 │ varchar │     timestamp with time zone     │  int32   │      double       │  double  │
├──────────────────────────────────────┼──────────────────────────────────────┼─────────────┼──────────────────────────────────────┼─────────┼──────────────────────────────────┼──────────┼───────────────────┼──────────┤
│ dcd018bd-0d0a-476e-b237-0ca63e9858ae │ 8a59a1d7-e407-45b7-a328-4ad02e98255c │           3 │ 28e1cf45-bd91-41e2-917c-e2c00c96e1a6 │ d       │ 2025-05-11 13:31:59.052+10       │        1 │             10.99 │      0.0 │
│ 113159de-9e45-4978-a26e-74c6f0bb8cdf │ 8a59a1d7-e407-45b7-a328-4ad02e98255c │           3 │ 28e1cf45-bd91-41e2-917c-e2c00c96e1a6 │ d       │ 2025-05-11 13:31:59.052+10       │        1 │             10.99 │      0.0 │
│ 31421e7f-5ab4-43f7-8fdf-4923b786ae56 │ 8a59a1d7-e407-45b7-a328-4ad02e98255c │           3 │ 952db9d3-67b3-41e5-8f0f-bcefdb50b909 │ d       │ 2025-05-11 13:31:59.052+10       │        1 │              11.5 │      0.5 │
│ e6708410-9f8e-4416-af28-eb832e4aac2b │ 8a59a1d7-e407-45b7-a328-4ad02e98255c │           3 │ 952db9d3-67b3-41e5-8f0f-bcefdb50b909 │ d       │ 2025-05-11 13:31:59.052+10       │        1 │              11.5 │      0.5 │
└──────────────────────────────────────┴──────────────────────────────────────┴─────────────┴──────────────────────────────────────┴─────────┴──────────────────────────────────┴──────────┴───────────────────┴──────────┘

In [79]:
with duckdb.connect("data/staging.db", read_only=True) as conn:
    conn.sql(
        """
        SELECT
            src.order_id,
            TO_TIMESTAMP (src.ts_ms / 1000) transaction_time,
            valid_to,
            valid_from,
            TO_TIMESTAMP (src.ts_ms / 1000) >= dor.valid_from valid_from_T,
            TO_TIMESTAMP (src.ts_ms / 1000) < dor.valid_to valid_to_T
        FROM
            order_items src
            INNER JOIN d_orders dor ON src.order_id = dor.order_id
        ORDER BY src.order_id, valid_from
            """
    ).show()

┌──────────┬────────────────────────────┬────────────────────────────┬────────────────────────────┬──────────────┬────────────┐
│ order_id │      transaction_time      │          valid_to          │         valid_from         │ valid_from_T │ valid_to_T │
│  int32   │  timestamp with time zone  │  timestamp with time zone  │  timestamp with time zone  │   boolean    │  boolean   │
├──────────┼────────────────────────────┼────────────────────────────┼────────────────────────────┼──────────────┼────────────┤
│        1 │ 2025-05-11 14:10:33.058+10 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:58.997+10 │ true         │ false      │
│        1 │ 2025-05-11 14:10:12.327+10 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:58.997+10 │ true         │ false      │
│        1 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:58.997+10 │ true         │ false      │
│        1 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:58.997+10 │ true         │ false      │
│        1 │ 2025-05-11 14:10:33.058+10 │ 2025-05-11 13:31:59.045+10 │ 2025-05-11 13:31:59.045+10 │ true         │ false      │
│        1 │ 2025-05-11 14:10:12.327+10 │ 2025-05-11 13:31:59.045+10 │ 2025-05-11 13:31:59.045+10 │ true         │ false      │
│        1 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:59.045+10 │ 2025-05-11 13:31:59.045+10 │ false        │ true       │
│        1 │ 2025-05-11 13:31:58.997+10 │ 2025-05-11 13:31:59.045+10 │ 2025-05-11 13:31:59.045+10 │ false        │ true       │
│        1 │ 2025-05-11 14:10:33.058+10 │ 2025-05-11 14:29:22.1+10   │ 2025-05-11 14:29:22.1+10   │ false        │ true       │
│        1 │ 2025-05-11 14:10:12.327+10 │ 2025-05-11 14:29:22.1+10   │ 2025-05-11 14:29:22.1+10   │ false        │ true       │
│        · │             ·              │            ·               │            ·               │  ·           │  ·         │
│        · │             ·              │            ·               │            ·               │  ·           │  ·         │
│        · │             ·              │            ·               │            ·               │  ·           │  ·         │
│      220 │ 2025-05-11 14:29:20.925+10 │ 2025-05-11 14:29:20.925+10 │ 2025-05-11 14:29:20.925+10 │ true         │ false      │
│      221 │ 2025-05-11 14:29:21.104+10 │ 2025-05-11 14:29:21.104+10 │ 2025-05-11 14:29:21.104+10 │ true         │ false      │
│      222 │ 2025-05-11 14:29:21.727+10 │ 2025-05-11 14:29:21.727+10 │ 2025-05-11 14:29:21.727+10 │ true         │ false      │
│      223 │ 2025-05-11 14:29:22.28+10  │ 2025-05-11 14:29:22.28+10  │ 2025-05-11 14:29:22.28+10  │ true         │ false      │
│      224 │ 2025-05-11 14:29:22.451+10 │ 2025-05-11 14:29:22.451+10 │ 2025-05-11 14:29:22.451+10 │ true         │ false      │
│      225 │ 2025-05-11 14:29:22.665+10 │ 2025-05-11 14:29:22.665+10 │ 2025-05-11 14:29:22.665+10 │ true         │ false      │
│      226 │ 2025-05-11 14:29:22.88+10  │ 2025-05-11 14:29:22.88+10  │ 2025-05-11 14:29:22.88+10  │ true         │ false      │
│      227 │ 2025-05-11 14:29:23.047+10 │ 2025-05-11 14:29:23.047+10 │ 2025-05-11 14:29:23.047+10 │ true         │ false      │
│      228 │ 2025-05-11 14:29:23.473+10 │ 2025-05-11 14:29:23.473+10 │ 2025-05-11 14:29:23.473+10 │ true         │ false      │
│      229 │ 2025-05-11 14:29:23.676+10 │ 2025-05-11 14:29:23.676+10 │ 2025-05-11 14:29:23.676+10 │ true         │ false      │
├──────────┴────────────────────────────┴────────────────────────────┴────────────────────────────┴──────────────┴────────────┤
│ 402 rows (20 shown)                                                                                               6 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [65]:
with duckdb.connect("data/staging.db", read_only=True) as conn:
    conn.sql(
        """
        SELECT
            to_timestamp(ts_ms / 1000)
        FROM
            order_items src
            """
    ).show()

┌──────────────────────────────┐
│ to_timestamp((ts_ms / 1000)) │
│   timestamp with time zone   │
├──────────────────────────────┤
│ 2025-05-11 13:31:58.997+10   │
│ 2025-05-11 13:31:58.997+10   │
│ 2025-05-11 13:31:58.997+10   │
│ 2025-05-11 13:31:59.028+10   │
│ 2025-05-11 13:31:59.028+10   │
│ 2025-05-11 13:31:59.028+10   │
│ 2025-05-11 13:31:59.052+10   │
│ 2025-05-11 13:31:59.052+10   │
│ 2025-05-11 13:31:59.064+10   │
│ 2025-05-11 14:10:03.288+10   │
│             ·                │
│             ·                │
│             ·                │
│ 2025-05-11 14:29:21.312+10   │
│ 2025-05-11 14:29:21.727+10   │
│ 2025-05-11 14:29:22.28+10    │
│ 2025-05-11 14:29:22.451+10   │
│ 2025-05-11 14:29:22.665+10   │
│ 2025-05-11 14:29:22.88+10    │
│ 2025-05-11 14:29:23.047+10   │
│ 2025-05-11 14:29:23.473+10   │
│ 2025-05-11 14:29:23.676+10   │
│ 2025-05-11 14:29:23.902+10   │
├──────────────────────────────┤
│     286 rows (20 shown)      │
└──────────────────────────────┘

In [64]:
with duckdb.connect("data/staging.db", read_only=True) as conn:
    conn.sql(
        """
        SELECT
            valid_to, valid_from
        FROM
            d_orders src
            """
    ).show()

┌────────────────────────────┬────────────────────────────┐
│          valid_to          │         valid_from         │
│  timestamp with time zone  │  timestamp with time zone  │
├────────────────────────────┼────────────────────────────┤
│ 2025-05-11 13:31:59.028+10 │ 2025-05-11 13:31:59.028+10 │
│ 2025-05-11 13:31:59.038+10 │ 2025-05-11 13:31:59.038+10 │
│ 2025-05-11 14:10:06.95+10  │ 2025-05-11 13:31:59.052+10 │
│ 2025-05-11 14:10:06.95+10  │ 2025-05-11 14:10:06.95+10  │
│ 2025-05-11 14:10:08.954+10 │ 2025-05-11 14:10:08.954+10 │
│ 2025-05-11 14:10:10.553+10 │ 2025-05-11 14:10:10.553+10 │
│ 2025-05-11 14:10:16.082+10 │ 2025-05-11 14:10:16.082+10 │
│ 2025-05-11 14:10:50.041+10 │ 2025-05-11 14:10:50.041+10 │
│ 2025-05-11 14:10:51.204+10 │ 2025-05-11 14:10:51.204+10 │
│ 2025-05-11 14:10:53.408+10 │ 2025-05-11 14:10:53.408+10 │
│             ·              │             ·              │
│             ·              │             ·              │
│             ·              │             ·              │
│ 2025-05-11 14:29:11.042+10 │ 2025-05-11 14:29:11.042+10 │
│ 2025-05-11 14:29:13.779+10 │ 2025-05-11 14:29:13.779+10 │
│ 2025-05-11 14:29:14.9+10   │ 2025-05-11 14:29:14.9+10   │
│ 2025-05-11 14:29:15.804+10 │ 2025-05-11 14:29:15.804+10 │
│ 2025-05-11 14:29:16.94+10  │ 2025-05-11 14:29:16.94+10  │
│ 2025-05-11 14:29:18.781+10 │ 2025-05-11 14:29:18.781+10 │
│ 2025-05-11 14:29:18.991+10 │ 2025-05-11 14:29:18.991+10 │
│ 2025-05-11 14:29:19.598+10 │ 2025-05-11 14:29:19.598+10 │
│ 2025-05-11 14:29:21.104+10 │ 2025-05-11 14:29:21.104+10 │
│ 2025-05-11 14:29:21.727+10 │ 2025-05-11 14:29:21.727+10 │
├────────────────────────────┴────────────────────────────┤
│ 307 rows (20 shown)                           2 columns │
└─────────────────────────────────────────────────────────┘